
.wrapper
  = render partial: "header", locals: { book: @book }
  .contents
    .contents-name
      %h1.contents-name__box 登録タイトル一覧
    .lists
      - @books.each do |book|
        .lists__box
          .lists__box__title
            = link_to book_path(book.id) do
              = book.title
  .new
    = link_to new_book_path(@book) do
      .new__btn
        =icon('fas', 'plus')