* {
  box-sizing: border-box;
}

.wrapper {
  background-color: whitesmoke;
  width: 100%;
  position: relative;
  .header {
    height: 100px;
    width: 100%;
    box-shadow: 2px 2px 4px gray;
    padding: 0 150px;
    .top-box {
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__title {
        width: 250px;
        font-size: 60px;
        font-family: fantasy;
      }
      a {
        text-decoration: none;
        color: forestgreen;
      }
      &__form {
        height: 60px;
        &__input {
          height: 35px;
          width: 800px;
          padding: 0 10px;
          margin-top: 15px;
          border-radius: 10px;
          outline: none;
        }
      }
    }
    .bottom-box {
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      &__category {
        display: flex;
        height: 40px;
        width: 600px;
        padding-top: 12px;
        font-weight: bold;
        color: rgb(41, 41, 41);
        &__mark {
          position: relative;
          .icon {
            color: hotpink;
            margin-right: 10px;
          }
        }
      }
      &__icon {
        height: 40px;
        width: 150px;
        display: flex;
        &__btn {
          height: 40px;
          width: 50px;
          font-size: 30px;
          margin-right: 10px;
          a {
            color: mediumturquoise;
            &:hover {
              color: hotpink;
            }
          }
        }
        &__user {
          height: 40px;
          width: 200px;
          font-size: 25px;
          font-weight: bold;
          color: rgb(66, 65, 65);
          padding-top: 3px;
          font-family: 'Comic Sans MS';
        }
      }
    }
  }



  .contents {
    width: 100%;
    padding-top: 40px;
    .contents-name {
      height: 150px;
      width: 100%;
      display: flex;
      align-items: center;
      &__box {
        height: 100px;
        width: 700px;
        margin: 0 auto;
        line-height: 100px;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        color: rgb(65, 65, 65);
      }
    }
    .lists {
      background-color: #ebebeb;
      height: 100vh;
      width: 100%;
      margin: 0 auto;
      padding: 50px 30px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: baseline;
      &__box {
        width: 32%;
        height: 70px;
        margin: 0 6px 10px 10px;
        box-shadow: 2px 2px 4px gray;
        overflow: scroll;
        &__title {
          width: 100%;
          line-height: 70px;
          text-align: center;
          font-size: 28px;
          a {
            text-decoration: none;
            color: rgb(3, 162, 224);
            &:hover {
              display: block;
              color: orange;
              box-shadow: 2px 2px 4px orange;
            }
          }
        }
      }
    }
  }
  .new {
    height: 160px;
    width: 160px;
    position: absolute;
    right: 90px;
    bottom: 50px;
    position: fixed;
    z-index: 1;
    &__btn {
      text-align: center;
      line-height: 160px;
      font-size: 90px;
      border-radius: 100px;
      background-color: red;
    }
    a {
      color: white;
    }
  }
}