* {
  box-sizing: border-box;
}

.wrapper {
  background-image: url("flower-back1354.jpg");
  background-size: cover;
  background-position: center;
  .header {
    background-color: white;
    height: 108px;
    width: 100%;
    box-shadow: 2px 2px 4px gray;
    padding: 0 150px 0 50px;
    display: flex;
    .left-box {
      width: inherit;
      &__title {
        font-size: 50px;
        font-family: fantasy;
        text-align: center;
      }
      a {
        text-decoration: none;
        color: forestgreen;
      }
      &__category {
        text-align: center;
        font-weight: bold;
        .icon {
          color: red;
        }
      }
    }
    .right-box {
      width: inherit;
      &__form {
        margin-top: 18px;
        position: relative;
        &__input {
          background-color: #f1f1f1;
          padding: 5px 4px;
          width: 100%;
          border-radius: 10px;
          outline: none;
        }
        &__search {
          position: absolute;
          right: 7px;
          top: 8px;
          font-size: 18px;
          background-color: transparent;
          border: 0px none;
          outline: none;
          
          i {
            color: gray;
            &:hover {
              color: #0088cc;
            }
          }
        }
      }
        .right-box__info__icon {
          width: 150px;
          display: flex;
          margin-top: 3px;
          float: right;
          &__btn {
            width: 50px;
            font-size: 30px;
            margin-right: 10px;
            a {
              color: mediumturquoise;
              &:hover {
                color: hotpink;
              }
            }
          }
          &__user {
            width: 200px;
            font-size: 25px;
            font-weight: bold;
            padding-top: 3px;
            font-family: 'Comic Sans MS';
          
        }
      }
    }
  }



  .contents {
    width: 100%;
    .contents-name {
      height: 150px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-top: 80px;
      &__box {
        font-size: 35px;
        font-weight: bold;
      }
      &__stock {
        font-weight: bold;
        margin-top: 10px;
        background-color: #ebebeb;
        color: rgb(65, 65, 65);
        padding: 5px 15px;
        border-radius: 20px;
      }
    }
    .lists {
      min-height: 100vh;
      margin: 0 auto;
      padding: 80px 80px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: baseline;
      &__box {
        background-color: white;
        width: 19%;
        margin: 0 6px 10px 5px;
        box-shadow: 2px 2px 4px gray;
        border: 1px solid #b9b9b9;
        &__image {
          max-height: 250px;
          min-height: 250px;
          background-color: #f1f1f1;
          width: 100%;
          img {
            max-height: 250px;
            min-height: 250px;
            width: 100%;
            object-fit: cover;
          }
        }
        &__title {
          width: 100%;
          padding: 1px 4px;
          overflow: hidden;
          word-break: keep-all;
        }
        a {
          text-decoration: none;
          color: rgb(65, 65, 65);
          &:hover {
            display: block;
            transition: all 0.3s ease 0s;
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
    .pagination {
      text-align: center;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      a {
        text-decoration: none;
        color: #212121;
        &:hover {
          color: #0088cc;
        }
      }
    }
  }
  .new {
    height: 160px;
    width: 160px;
    position: absolute;
    right: 30px;
    bottom: 50px;
    position: fixed;
    z-index: 1;
    &__btn {
      text-align: center;
      line-height: 160px;
      font-size: 90px;
      border-radius: 100px;
      background-color: red;
    }
    a {
      color: white;
    }
  }
  .footer {
    background-color: #212121;
    width: 100%;
    padding-top: 10px;
    &__image {
      background-image: url(hondana.jpg);
      background-size: cover;
      background-position: center;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: bold;
      color: #ebebeb;
      margin-bottom: 15px;
    }
    &__content {
      height: 100px;
      text-align: center;
      font-size: 20px;
      color: #bcbcbc;
      font-weight: bold;
      span {
        border-bottom: 1px solid #bcbcbc;
      }
      &--icon {
        font-size: 30px;
        letter-spacing: 0.1em;
      }
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}