.notification {
  .notice {
    background-color: $light_green;
    color: $white;
    text-align: center;
    box-shadow: 2px 2px 4px gray;
    margin-bottom: 3px;
  }

  .alert {
    background-color: $alert_red;
    color: $white;
    text-align: center;
    box-shadow: 2px 2px 4px gray;
  }
}