.notification
  - flash.each do |key, value|
    - if notice
      = content_tag :div, value, class: key
      %i.fas.fa-check
    - elsif alert
      = content_tag :div, value, class: key
      %i.fas.fa-exclamation